body{
	margin:30px;
}
#blog_title{
  font-family:Garamond;
  font-size:16pt;
  text-align:center;
}
h2{
  font-family:Garamond;
  font-size:14pt;
}
#date{
  font-family:Garamond;
  font-size:12pt;
}
#text_body{
  font-size:12pt;
}
code{
	display:block;
	margin:10px;
	text-align:center;
}